layout {

    default_tab_template {
        // the default zellij tab-bar and status bar plugins
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    pane_template name="btop" {
        command "btop"
        args ""
        borderless true
    }

    tab name="fuck" {
        // a tab with three horizontal panes
        pane cwd="/home"
    }
    tab name="you" split_direction="vertical" {
        // a tab with a name and two vertical panes
       pane cwd="/home"
    }
}