should_highlight_unselected_search  1
# unselected_search_highlight_color   0.0 0.4 0.0
# background_color    0.67 0.7 0.1

# Showing full white text on black background can be irritating for the eye, we can dim the whites a little bit using the contrast option
dark_mode_contrast 0.98

show_document_name_in_statusbar 1
background_color #000000

font_size 17
